/* 
  需要注意的是，此文件的优先级在第三方组件库的样式之后，
   所以当你有覆盖第三方库样式的需求时，请使用 overrides.css 。 
*/
/* 比如修改  */
.ant-btn,.ant-btn-primary{
    /* font-size: 12px;
    color: red; */
}
/* router-link-active */
/* .router-link-active{
    color: green;
} */
.router-link-exact-active{
    color: green;
 }